img {
    width: 500px;
    height: 500px;
    border: 2px;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 50%;
}
aside {
    margin-top: 50px;
    float: right;
}